fastapi==0.111.*
uvicorn[standard]==0.30.*
pydantic==2.7.*
SQLAlchemy==2.0.*
asyncpg==0.29.*
psutil==5.9.*
pandas==2.2.*
celery==5.4.*
redis==5.0.*
python-dotenv
google-genai
google-generativeai
python-multipart==0.0.12
pytest 
pytest-asyncio
psycopg2-binary
pytest_schema


# --- NEW MACHINE LEARNING AND EMAIL AUTOMATION MODULES ---
google-genai==0.1.*
# --- NEW SECURE WEB-API INGESTION LIBRARIES ---
google-api-python-client==2.137.*
google-auth-httplib2==0.2.*
google-auth-oauthlib==1.2.*